AI_Stock_Trader_Bot.json
{
  "name": "AI_Stock_Trader_Bot",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -1088,
        656
      ],
      "id": "ee944ce7-c880-4fb6-b5f1-a0bbf38a8c3e",
      "name": "TelegramInputTrigger",
      "webhookId": "fd100b2b-8fc2-4dbb-89d4-ef0b4f580178",
      "credentials": {
        "telegramApi": {
          "id": "SEtfhHTHn4V1lCk0",
          "name": "DayTraderBotCredential"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get all input items from upstream (e.g., Telegram trigger)\nconst items = $input.all();\n\n// Defensive check: If no items, return an empty item with default symbol\nif (items.length === 0) {\n  return [\n    {\n      json: {\n        symbol: ''  // Default empty to avoid downstream errors\n      }\n    }\n  ];\n}\n\n// Process each item\nfor (const item of items) {\n  // Defensive check: Ensure message.text exists\n  const messageText = item.json?.message?.text || '';  // Fallback to empty string if missing\n  item.json.symbol = messageText.trim().toUpperCase();  // Trim and uppercase (e.g., \" tsla \" -> \"TSLA\")\n}\n\n// Return the updated items\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -640,
        656
      ],
      "id": "c44ea853-4c02-4f75-99ae-ce7fa38a80e9",
      "name": "NormalizeInputText"
    },
    {
      "parameters": {
        "jsCode": "let normalizedText = '';\n\n// Validate input structure\nif (items.length > 0 && items[0] && items[0].json && typeof items[0].json.symbol === 'string') {\n  normalizedText = items[0].json.symbol;\n} else {\n  // Debug log for missing data; can be removed in production\n  console.log('No valid symbol field found in input items');\n  return [];\n}\n\nconst symbols = normalizedText.split(',').map(s => s.trim()).filter(s => s.length > 0); // Split, trim, and filter empty entries\n\n// Create new items for each symbol\nreturn symbols.map(symbol => ({ json: { symbol } }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -416,
        656
      ],
      "id": "7991cb42-1101-4982-8688-12077c00a1dc",
      "name": "ParseSymbolsToArray"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -192,
        656
      ],
      "id": "e5c5bc2f-fbf7-48ae-b629-12f1cdef083b",
      "name": "LoopValidateSymbols",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "fefb87f7-aceb-42e9-9cae-dcb77038dbbf",
              "leftValue": "={{ $node[\"NormalizeInputText\"].item.json[\"symbol\"] }}",
              "rightValue": "=/^([A-Z]{1,5}(\\\\.[A-Z]{1,2})?(,\\\\s*)?)+$/",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        32,
        608
      ],
      "id": "03fb5f7c-89a9-41e0-b630-ec4eda5b0825",
      "name": "CheckSymbolRegex"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "c61eb9ff-6361-4bea-874f-2c9edbad4430",
              "leftValue": "={{$node[\"ValidateSymbolTwelveData\"].json[\"data\"].length}}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        704,
        432
      ],
      "id": "3a83cf7a-e45c-4e91-8fd1-143207af141d",
      "name": "CheckSymbolAPIResult"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "AddRateLimitWait",
      "typeVersion": 1,
      "position": [
        32,
        800
      ],
      "id": "56c78d1c-43e0-4586-9ee9-74137d204299"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        928,
        384
      ],
      "id": "23aa3d12-fc66-4161-96a7-7216300cbf65",
      "name": "MergeValidationResults"
    },
    {
      "parameters": {
        "chatId": "={{ $('TelegramInputTrigger').first().json.message.chat.id }}",
        "text": "Invalid stock symbol provided. Please enter a valid ticker (e.g., AAPL) and try again.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1520,
        592
      ],
      "id": "ca8ea928-3eed-4445-9beb-189679976d0d",
      "name": "SendErrorMessage",
      "webhookId": "c0f03da0-d6a3-4848-9ffd-9e3351f3eb08",
      "credentials": {
        "telegramApi": {
          "id": "SEtfhHTHn4V1lCk0",
          "name": "DayTraderBotCredential"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get all input items from upstream (e.g., from ValidateSymbolTwelveData)\nconst items = $input.all();\n\n// Defensive check: If no items, return default output\nif (items.length === 0) {\n  return [\n    {\n      json: {\n        validSymbols: [],\n        errorString: 'No input items received. Check upstream nodes.'\n      }\n    }\n  ];\n}\n\n// Initialize arrays\nlet validSymbols = [];\nlet errors = [];\n\n// Process each item\nfor (const item of items) {\n  // Defensive check: Ensure item.json exists\n  if (!item.json) {\n    errors.push('Item missing json data');\n    continue;\n  }\n\n  // Fallback to nested API structure for symbol (from your API output: data[0].symbol)\n  const symbol = item.json.symbol || item.json.data?.[0]?.symbol || item.json.search_symbol || '';  // Fallback chain\n  const normalizedSymbol = symbol.toUpperCase().trim();\n\n  // Skip if no symbol found (prevents \"missing symbol\" for empty items)\n  if (!normalizedSymbol) {\n    // Optional: Comment out the push if you don't want to log empty items\n    // errors.push('Item missing symbol');\n    continue;  // Skip to next item\n  }\n\n  // Check if valid (based on API \"status\": \"ok\" from your API output)\n  if (item.json.status === 'ok' || !item.json.errors || item.json.errors.length === 0) {\n    validSymbols.push(normalizedSymbol);\n  } else if (Array.isArray(item.json.errors) && item.json.errors.length > 0) {\n    errors = errors.concat(item.json.errors);\n  } else {\n    errors.push('Unexpected item structure or API error: ' + (item.json.message || 'Unknown'));\n  }\n}\n\n// Remove duplicates from validSymbols\nvalidSymbols = [...new Set(validSymbols)];\n\n// Build errorString only if there are errors\nconst errorString = errors.length > 0\n  ? `Invalid symbols or issues: ${errors.join(', ')}. Proceeding with valid ones: ${validSymbols.join(', ') || 'None'}.`\n  : '';\n\n// Return single item output\nreturn [\n  {\n    json: {\n      validSymbols: validSymbols,\n      errorString: errorString\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1152,
        320
      ],
      "id": "76c29c83-58a7-41cd-a6b7-ff5e346808be",
      "name": "FormatValidSymbols"
    },
    {
      "parameters": {
        "url": "https://api.twelvedata.com/time_series",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "symbol",
              "value": "={{$json.validSymbols[0]}}"
            },
            {
              "name": "interval",
              "value": "1min"
            },
            {
              "name": "outputsize",
              "value": "100"
            },
            {
              "name": "apikey",
              "value": "03b82e9068bf43118f3b04858762bf49"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2048,
        -144
      ],
      "id": "44b8434a-1cea-44d8-be23-c105d2b7331e",
      "name": "Fetch1MinTimeSeries",
      "credentials": {
        "httpQueryAuth": {
          "id": "srLxuSkG3qoi2f8B",
          "name": "TwelveDataAPI"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.twelvedata.com/time_series",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "symbol",
              "value": "={{$json.validSymbols[0]}}"
            },
            {
              "name": "interval",
              "value": "15min"
            },
            {
              "name": "outputsize",
              "value": "100"
            },
            {
              "name": "apikey",
              "value": "03b82e9068bf43118f3b04858762bf49"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2048,
        48
      ],
      "id": "07adb778-4fcd-42a5-ac59-0472379738ef",
      "name": "Fetch15MinTimeSeries",
      "credentials": {
        "httpQueryAuth": {
          "id": "srLxuSkG3qoi2f8B",
          "name": "TwelveDataAPI"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.twelvedata.com/time_series",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "symbol",
              "value": "={{$json.validSymbols[0]}}"
            },
            {
              "name": "interval",
              "value": "1h"
            },
            {
              "name": "outputsize",
              "value": "100"
            },
            {
              "name": "apikey",
              "value": "03b82e9068bf43118f3b04858762bf49"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2048,
        336
      ],
      "id": "bab7ba61-76f8-4630-b824-6816c3513945",
      "name": "Fetch1HourTimeSeries",
      "credentials": {
        "httpQueryAuth": {
          "id": "srLxuSkG3qoi2f8B",
          "name": "TwelveDataAPI"
        }
      }
    },
    {
      "parameters": {
        "url": "https://newsapi.org/v2/everything",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "qInTitle",
              "value": "={{ $json.validSymbols[0] }}"
            },
            {
              "name": "from",
              "value": "={{ new Date(Date.now() - 7 * 24 * 60 * 60 * 1000).toISOString().split('T')[0] }}"
            },
            {
              "name": "apikey",
              "value": "23bf725d79954f49b5dcbfce35f52cbe"
            },
            {
              "name": "language",
              "value": "en"
            },
            {
              "name": "sortBy",
              "value": "publishedAt"
            },
            {
              "name": "pageSize",
              "value": "5"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2480,
        368
      ],
      "id": "f4647b7f-86a4-40cd-b12a-7a1062aba507",
      "name": "FetchNewsArticles",
      "credentials": {
        "httpQueryAuth": {
          "id": "qTO2AXW1jyzkqDKZ",
          "name": "NewsAPI"
        },
        "httpHeaderAuth": {
          "id": "Dm2QVIWXvdZ37UmD",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get all input items from upstream (e.g., invalid symbols from validation)\nconst items = $input.all();\n\n// Defensive check: If no items, return a default item with empty errors\nif (items.length === 0) {\n  return [\n    {\n      json: {\n        errors: []  // Empty array to avoid downstream errors\n      }\n    }\n  ];\n}\n\n// Use the first item as the aggregator (your original approach)\nconst aggregator = items[0];\n\n// Defensive check: Ensure aggregator has json and errors array\nif (!aggregator.json) {\n  aggregator.json = {};  // Create if missing\n}\nif (!Array.isArray(aggregator.json.errors)) {\n  aggregator.json.errors = [];  // Initialize if missing or not array\n}\n\n// Process each item (original line 5 fixed)\nfor (const item of items) {\n  // Defensive check: Skip if item.json or symbol is missing\n  if (!item.json || typeof item.json.symbol === 'undefined') {\n    continue;  // Skip this item gracefully (or add a default: aggregator.json.errors.push('Unknown invalid symbol'))\n  }\n\n  // Append the invalid symbol message\n  aggregator.json.errors.push(item.json.symbol + ' is invalid');\n}\n\n// Return only the aggregator item (single item output)\nreturn [aggregator];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        928,
        704
      ],
      "id": "4c27d041-c82f-47f3-9f41-dd58cee7afa3",
      "name": "CollectInvalidSymbol"
    },
    {
      "parameters": {
        "url": "=https://api.twelvedata.com/symbol_search?symbol={{$json.symbol}}&outputsize=1",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "03b82e9068bf43118f3b04858762bf49"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        256,
        432
      ],
      "id": "b139043d-d7f4-4f3b-aea5-e879fb2ce833",
      "name": "ValidateSymbolTwelveData",
      "credentials": {
        "httpQueryAuth": {
          "id": "srLxuSkG3qoi2f8B",
          "name": "Query Auth account"
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2480,
        64
      ],
      "id": "e5910da5-66eb-44eb-b588-ef9c47a209a1",
      "name": "MergeTimeSeriesData"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2704,
        80
      ],
      "id": "7ba9c8e8-d4dc-44e7-887e-f6627407e676",
      "name": "AggregateDataIntervals"
    },
    {
      "parameters": {
        "jsCode": "// Get all input items (n8n passes data as 'items')\nconst items = $input.all();  // Use $input.all() for safety in n8n Code nodes\n\n// Defensive check: Ensure there is at least one item with json data\nif (items.length === 0 || !items[0].json) {\n  return [\n    {\n      json: {\n        error: 'No input data provided. Check upstream nodes (e.g., API request) for valid output.'\n      }\n    }\n  ];\n}\n\n// Extract root JSON from the first item\nconst root = items[0].json;\n\n// Defensive check: Ensure root.data exists and has at least 3 arrays\nif (!root.data || !Array.isArray(root.data) || root.data.length < 3) {\n  return [\n    {\n      json: {\n        error: 'Invalid data structure. Expected root.data to be an array with at least 3 timeframe datasets.'\n      }\n    }\n  ];\n}\n\n// Extract datasets with checks\nconst data1m = root.data[0] || {};  // Default to empty object if missing\nconst data15m = root.data[1] || {};\nconst data1h = root.data[2] || {};\n\n// Defensive check: Ensure data1m has meta and symbol (this prevents the TypeError)\nif (!data1m.meta || typeof data1m.meta.symbol === 'undefined') {\n  return [\n    {\n      json: {\n        error: 'Missing meta or symbol in 1min data. Verify API response from Twelve Data or upstream node.'\n      }\n    }\n  ];\n}\n\n// Standardize format function (unchanged, but add check inside for empty values)\nfunction normalize(values) {\n  if (!Array.isArray(values) || values.length === 0) {\n    return [];  // Return empty array if no values, to avoid errors in mapping\n  }\n  return values\n    .map(v => ({\n      time: new Date(v.datetime),\n      open: parseFloat(v.open),\n      high: parseFloat(v.high),\n      low: parseFloat(v.low),\n      close: parseFloat(v.close),\n      volume: parseFloat(v.volume),\n    }))\n    .sort((a, b) => a.time - b.time);\n}\n\n// Now safely process and return the output\nreturn [\n  {\n    json: {\n      ticker: data1m.meta.symbol,  // Safe now due to earlier check\n      candles1m: normalize(data1m.values),\n      candles15m: normalize(data15m.values),\n      candles1h: normalize(data1h.values),\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2992,
        80
      ],
      "id": "f26c2700-627a-4c09-8597-21de6611042b",
      "name": "ComputeTechnicalIndicators"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a highly intelligent and accurate sentiment analyzer specializing in the financial markets. Analyze the sentiment of the provided text\n\n- Evaluate the immediate market reaction, recent news impact, and technical volatility.\n- Determine a sentiment category: \"Positive\", \"Neutral\", or \"Negative\".\n- Calculate a numerical score between -1 (extremely negative) and 1 (extremely positive).\n- Provide a concise rationale explaining the short-term sentiment (give a detailed response with appropriate headlines for major events).\n\nYour output must be exactly a JSON object. The value must be an object with three keys: \"category\", \"score\", and \"rationale\". Do not output any additional text.\n\nFor example, your output should look like:\n\n{\n   \"shortTermSentiment\": {\n      \"category\": \"Positive\", \n      \"score\":0.7, \n      \"Rationale\": \"....\"\n\nNow, analyze the following text and produce your JSON output: {{ JSON.stringify($json.articles) }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=You are a highly intelligent and accurate sentiment analyzer specializing in the financial markets. Analyze the sentiment of the provided text\n\n- Evaluate the immediate market reaction, recent news impact, and technical volatility.\n- Determine a sentiment category: \"Positive\", \"Neutral\", or \"Negative\".\n- Calculate a numerical score between -1 (extremely negative) and 1 (extremely positive).\n- Provide a concise rationale explaining the short-term sentiment (give a detailed response with appropriate headlines for major events).\n\nYour output must be exactly a JSON object. The value must be an object with three keys: \"category\", \"score\", and \"rationale\". Do not output any additional text.\n\nFor example, your output should look like:\n\n{\n   \"shortTermSentiment\": {\"category\": \"Positive\", \"score\":0.7, \"Rationale\": \"....\"\n\nNow, analyze the following text and produce your JSON output: {{ JSON.stringify($json.articles) }}"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        2928,
        384
      ],
      "id": "08af3dc7-d832-427c-8f21-eef0de6b403b",
      "name": "AnalyzeNewsSentimentChain"
    },
    {
      "parameters": {
        "model": "grok-3-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatXAiGrok",
      "typeVersion": 1,
      "position": [
        3008,
        608
      ],
      "id": "554924eb-c979-4ddc-8539-49ca41e1fc3a",
      "name": "GrokSentimentModel",
      "credentials": {
        "xAiApi": {
          "id": "LnJS5l9C6NoeRvcL",
          "name": "xAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        3488,
        128
      ],
      "id": "a380b1a7-36a3-4cf0-a087-328939433798",
      "name": "MergeSentimentResults"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        3712,
        128
      ],
      "id": "1962b459-4565-4451-84c2-7baa28b136e2",
      "name": "AggregateSentimentScores"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an expert day trader. Using the data below, please give a single, unified trade recommendation -Buy, Sell, or Hold-based on both price action (1m, 15m, 1h candles) and 24h sentiment. Then provide:\n\n- Ticker Symbol\n- Technical Recommendation (Buy, Sell, or Hold; Incorporating candle analysis and sentiment)\n- Entry Price\n- Stop-Loss\n- Target/Exit Price\n\nProvide your answer as plain text with bullet points and clear line breaks.\n\nTechnical Data (candles):\n{{ JSON.stringify($json.data[0]) }}\n\nSentiment Analysis (Past 24h):\n{{ JSON.stringify($json.data[1]) }}\n\nEach candle object has:\n- timeframe: \"1m\", \"15m\", or \"1h\"\n- candles: [openTime, open, high, low, close, volume, ...]\n\nSteps for the agent:\n1. Group candles by timeframe (1m, 15m, 1h).\n2. Use 1m & 15m action + indicators (RSI, MACD, Trendlines) for optimal entry.\n3. Confirm trend with 1h data.\n4. Factor in sentiment to refine the Buy/Sell/Hold call.\n\n### Response format (no extra text!):\n- Technical Recommendation: <BUY|SELL|HOLD>\n- Entry Price: <number>\n- Stop-Loss: <number>\n- Target/Exit Price: <number>",
        "options": {
          "systemMessage": "You are an expert day trader. ONLY output exactly the lines below-no rationale, no extra commentary.\n\n### Response format (absolutely no other text!)\n- Ticker Symbol: <string>\n- Technical Recommendation: <BUY|SELL|HOLD>\n- Entry Price: <number or N/A>\n- Stop-Loss: <number or N/A>\n- Target/Exit: <number or N/A>\n- Hold or Exit Decision: <Hold|Exit>"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        3936,
        128
      ],
      "id": "aaae121d-601b-4cba-8a99-9e96657d7e3d",
      "name": "GenerateTradeRecommendationAgent"
    },
    {
      "parameters": {
        "model": "grok-4-fast-reasoning",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatXAiGrok",
      "typeVersion": 1,
      "position": [
        4016,
        352
      ],
      "id": "1911db9c-dce1-4ce1-9dbf-e2c0f0c79069",
      "name": "GrokRecommendationModel",
      "credentials": {
        "xAiApi": {
          "id": "LnJS5l9C6NoeRvcL",
          "name": "xAi account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('TelegramInputTrigger').item.json.message.chat.id }}",
        "text": "={{$json.output}}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        4288,
        128
      ],
      "id": "fbac985f-c858-4956-b418-a83ae4240650",
      "name": "SendTradeRecommendation",
      "webhookId": "3a473a39-4dab-4d1a-bc56-9da99d0fdd63",
      "credentials": {
        "telegramApi": {
          "id": "SEtfhHTHn4V1lCk0",
          "name": "DayTraderBotCredential"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        2496,
        560
      ],
      "id": "cf6de127-2578-4504-8e0d-60869941ec37",
      "name": "HandleIncomingChatMessage",
      "webhookId": "c7edf6a6-a06a-4b0f-b2e7-b5edc108f3e2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f921eb93-b7e9-454d-ad33-fe796ea3c633",
              "name": "inputSymbol",
              "value": "={{ $json.symbol }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        32,
        384
      ],
      "id": "e3552212-5e5f-4df8-a9de-df62d8e82f54",
      "name": "PreserveSymbol"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "8d25f461-3c1b-4e68-bf02-933896a04cf4",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "This message was sent automatically with n8n",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -864,
        576
      ],
      "id": "2e56eafb-f70a-4abd-a6e3-1179b4ffa8a0",
      "name": "FilterBotMessages"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        480,
        432
      ],
      "id": "d2a1863b-7b9c-4005-a00c-28e9abf739d0",
      "name": "RateLimitWait",
      "webhookId": "4dfa7b44-1e06-4b3e-8590-a6914c110e99"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2464,
        -144
      ],
      "id": "186d7c11-52ff-44a0-8dcf-44849400e9e5",
      "name": "RateLimit1Min",
      "webhookId": "c617d089-7f02-4969-9929-7b0002a40908"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2256,
        48
      ],
      "id": "7157be21-2af9-460d-8d16-740b3a7da8ea",
      "name": "RateLimit15Min",
      "webhookId": "0a81b84f-fc73-4cf6-8761-d25bf08fec83"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2256,
        336
      ],
      "id": "59cbc95b-5485-4f07-b627-69b723834efe",
      "name": "RateLimit1Hr",
      "webhookId": "609b0d97-84ee-4d13-8dd2-39207fddfca0"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2704,
        368
      ],
      "id": "6c0d75b0-a9ff-4d45-b825-9d180ebe56bd",
      "name": "RateLimitNews",
      "webhookId": "2f0e746f-6175-401d-b06b-2c050ebeddb8"
    }
  ],
  "pinData": {},
  "connections": {
    "TelegramInputTrigger": {
      "main": [
        [
          {
            "node": "FilterBotMessages",
            "type": "main",
            "index": 0
          },
          {
            "node": "NormalizeInputText",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NormalizeInputText": {
      "main": [
        [
          {
            "node": "ParseSymbolsToArray",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ParseSymbolsToArray": {
      "main": [
        [
          {
            "node": "LoopValidateSymbols",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LoopValidateSymbols": {
      "main": [
        [
          {
            "node": "CheckSymbolRegex",
            "type": "main",
            "index": 0
          },
          {
            "node": "PreserveSymbol",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AddRateLimitWait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CheckSymbolRegex": {
      "main": [
        [
          {
            "node": "CollectInvalidSymbol",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ValidateSymbolTwelveData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CheckSymbolAPIResult": {
      "main": [
        [
          {
            "node": "MergeValidationResults",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "CollectInvalidSymbol",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AddRateLimitWait": {
      "main": [
        [
          {
            "node": "LoopValidateSymbols",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MergeValidationResults": {
      "main": [
        [
          {
            "node": "FormatValidSymbols",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SendErrorMessage": {
      "main": [
        [
          {
            "node": "MergeValidationResults",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "FormatValidSymbols": {
      "main": [
        [
          {
            "node": "Fetch1MinTimeSeries",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch15MinTimeSeries",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch1HourTimeSeries",
            "type": "main",
            "index": 0
          },
          {
            "node": "FetchNewsArticles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch1MinTimeSeries": {
      "main": [
        [
          {
            "node": "RateLimit1Min",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch15MinTimeSeries": {
      "main": [
        [
          {
            "node": "RateLimit15Min",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch1HourTimeSeries": {
      "main": [
        [
          {
            "node": "RateLimit1Hr",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FetchNewsArticles": {
      "main": [
        [
          {
            "node": "RateLimitNews",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CollectInvalidSymbol": {
      "main": [
        [
          {
            "node": "SendErrorMessage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ValidateSymbolTwelveData": {
      "main": [
        [
          {
            "node": "RateLimitWait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MergeTimeSeriesData": {
      "main": [
        [
          {
            "node": "AggregateDataIntervals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AggregateDataIntervals": {
      "main": [
        [
          {
            "node": "ComputeTechnicalIndicators",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ComputeTechnicalIndicators": {
      "main": [
        [
          {
            "node": "MergeSentimentResults",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AnalyzeNewsSentimentChain": {
      "main": [
        [
          {
            "node": "MergeSentimentResults",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "GrokSentimentModel": {
      "ai_languageModel": [
        [
          {
            "node": "AnalyzeNewsSentimentChain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "MergeSentimentResults": {
      "main": [
        [
          {
            "node": "AggregateSentimentScores",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AggregateSentimentScores": {
      "main": [
        [
          {
            "node": "GenerateTradeRecommendationAgent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GenerateTradeRecommendationAgent": {
      "main": [
        [
          {
            "node": "SendTradeRecommendation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GrokRecommendationModel": {
      "ai_languageModel": [
        [
          {
            "node": "GenerateTradeRecommendationAgent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "HandleIncomingChatMessage": {
      "main": [
        [
          {
            "node": "AnalyzeNewsSentimentChain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PreserveSymbol": {
      "main": [
        [
          {
            "node": "ValidateSymbolTwelveData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FilterBotMessages": {
      "main": [
        [
          {
            "node": "NormalizeInputText",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "RateLimitWait": {
      "main": [
        [
          {
            "node": "CheckSymbolAPIResult",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RateLimit1Min": {
      "main": [
        [
          {
            "node": "MergeTimeSeriesData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RateLimit15Min": {
      "main": [
        [
          {
            "node": "MergeTimeSeriesData",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "RateLimit1Hr": {
      "main": [
        [
          {
            "node": "MergeTimeSeriesData",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "RateLimitNews": {
      "main": [
        [
          {
            "node": "AnalyzeNewsSentimentChain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "ba26a305-c666-4334-9e75-ea1182931589",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e528253e88e4586541d2eb06c1ec5fdac21c84cfb5afc416ee840c43e0960980"
  },
  "id": "WcPP6HpwTVEUFdgu",
  "tags": []
}
