AI_Stock_Trader_Bot.json
{
  "name": "AI_Stock_Trader_Bot",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -944,
        896
      ],
      "id": "ee944ce7-c880-4fb6-b5f1-a0bbf38a8c3e",
      "name": "TelegramInputTrigger",
      "webhookId": "fd100b2b-8fc2-4dbb-89d4-ef0b4f580178",
      "credentials": {
        "telegramApi": {
          "id": "SEtfhHTHn4V1lCk0",
          "name": "DayTraderBotCredential"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "for (const item of items) {\n  const messageText = item.json.message.text;\n  item.json.symbol = messageText.trim().toUpperCase();\n}\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -720,
        896
      ],
      "id": "c44ea853-4c02-4f75-99ae-ce7fa38a80e9",
      "name": "NormalizeInputText"
    },
    {
      "parameters": {
        "jsCode": "let normalizedText = '';\n\n// Validate input structure\nif (items.length > 0 && items[0] && items[0].json && typeof items[0].json.symbol === 'string') {\n  normalizedText = items[0].json.symbol;\n} else {\n  // Debug log for missing data; can be removed in production\n  console.log('No valid symbol field found in input items');\n  return [];\n}\n\nconst symbols = normalizedText.split(',').map(s => s.trim()).filter(s => s.length > 0); // Split, trim, and filter empty entries\n\n// Create new items for each symbol\nreturn symbols.map(symbol => ({ json: { symbol } }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -496,
        896
      ],
      "id": "7991cb42-1101-4982-8688-12077c00a1dc",
      "name": "ParseSymbolsToArray"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -272,
        896
      ],
      "id": "e5c5bc2f-fbf7-48ae-b629-12f1cdef083b",
      "name": "LoopValidateSymbols",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "fefb87f7-aceb-42e9-9cae-dcb77038dbbf",
              "leftValue": "={{$node[\"NormalizeInputText\"].json[\"symbol\"]}}",
              "rightValue": "=/^([A-Z]{1,5}(\\.[A-Z]{1,2})?(,\\s*)?)+$/",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -48,
        752
      ],
      "id": "03fb5f7c-89a9-41e0-b630-ec4eda5b0825",
      "name": "CheckSymbolRegex"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c61eb9ff-6361-4bea-874f-2c9edbad4430",
              "leftValue": "={{$node[\"ValidateSymbolTwelveData\"].json[\"data\"].length}}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        400,
        688
      ],
      "id": "3a83cf7a-e45c-4e91-8fd1-143207af141d",
      "name": "CheckSymbolAPIResult"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "AddRateLimitWait",
      "typeVersion": 1,
      "position": [
        -48,
        944
      ],
      "id": "56c78d1c-43e0-4586-9ee9-74137d204299"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        624,
        640
      ],
      "id": "23aa3d12-fc66-4161-96a7-7216300cbf65",
      "name": "MergeValidationResults"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "eacb433c-cda6-48f6-b159-125aad5f006a",
              "leftValue": "={{$node[\"Function\"].json[\"errorString\"].length}}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        912,
        672
      ],
      "id": "a54833ff-a09d-416b-8063-f33157f01169",
      "name": "CheckForErrors"
    },
    {
      "parameters": {
        "chatId": "={{ $('TelegramInputTrigger').item.json.message.chat.id }}",
        "text": "Invalid stock symbol provided. Please enter a valid ticker (e.g., AAPL) and try again.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        800,
        992
      ],
      "id": "ca8ea928-3eed-4445-9beb-189679976d0d",
      "name": "SendErrorMessage",
      "webhookId": "c0f03da0-d6a3-4848-9ffd-9e3351f3eb08",
      "credentials": {
        "telegramApi": {
          "id": "SEtfhHTHn4V1lCk0",
          "name": "DayTraderBotCredential"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Initialize arrays for valid symbols and errors\nlet validSymbols = [];\nlet errors = [];\n\n// Iterate over incoming items to categorize\nfor (const item of items) {\n  if (item.json.status === 'valid' || !item.json.errors) {  // Assuming 'status' field from validation\n    validSymbols.push(item.json.symbol);\n  } else if (item.json.errors) {\n    errors = errors.concat(item.json.errors);  // Merge error arrays if batched\n  }\n}\n\n// Attach compiled data to the first item for downstream use\nitems[0].json.validSymbols = validSymbols;\nitems[0].json.errorString = errors.length > 0 \n  ? `Invalid symbols: ${errors.join(', ')}. Proceeding with valid ones: ${validSymbols.join(', ')}.` \n  : '';\n\n// Return a single item to simplify flow (or keep all if needed)\nreturn [items[0]];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        848,
        448
      ],
      "id": "76c29c83-58a7-41cd-a6b7-ff5e346808be",
      "name": "FormatValidSymbols"
    },
    {
      "parameters": {
        "url": "https://api.twelvedata.com/time_series",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "symbol",
              "value": "={{ $json.message.text }}"
            },
            {
              "name": "interval",
              "value": "1min"
            },
            {
              "name": "outputsize",
              "value": "100"
            },
            {
              "name": "apikey",
              "value": "03b82e9068bf43118f3b04858762bf49"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1296,
        -160
      ],
      "id": "44b8434a-1cea-44d8-be23-c105d2b7331e",
      "name": "Fetch1MinTimeSeries"
    },
    {
      "parameters": {
        "url": "https://api.twelvedata.com/time_series",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "symbol",
              "value": "={{ $json.message.text }}"
            },
            {
              "name": "interval",
              "value": "15min"
            },
            {
              "name": "outputsize",
              "value": "100"
            },
            {
              "name": "apikey",
              "value": "03b82e9068bf43118f3b04858762bf49"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1296,
        320
      ],
      "id": "07adb778-4fcd-42a5-ac59-0472379738ef",
      "name": "Fetch15MinTimeSeries"
    },
    {
      "parameters": {
        "url": "https://api.twelvedata.com/time_series",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "symbol",
              "value": "={{ $json.message.text }}"
            },
            {
              "name": "interval",
              "value": "1h"
            },
            {
              "name": "outputsize",
              "value": "100"
            },
            {
              "name": "apikey",
              "value": "03b82e9068bf43118f3b04858762bf49"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1296,
        512
      ],
      "id": "bab7ba61-76f8-4630-b824-6816c3513945",
      "name": "Fetch1HourTimeSeries"
    },
    {
      "parameters": {
        "url": "https://newsapi.org/v2/everything",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $json.message.text }}"
            },
            {
              "name": "from",
              "value": "={{ $today.minus({days: 1}) .toFormat('yyyy-MM-dd')}}"
            },
            {
              "name": "apikey",
              "value": "23bf725d79954f49b5dcbfce35f52cbe"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1296,
        704
      ],
      "id": "f4647b7f-86a4-40cd-b12a-7a1062aba507",
      "name": "FetchNewsArticles",
      "credentials": {
        "httpQueryAuth": {
          "id": "srLxuSkG3qoi2f8B",
          "name": "Query Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Initialize or append to an error array\nif (!items[0].json.errors) {\n  items[0].json.errors = [];\n}\nitems[0].json.errors.push($item.json.symbol + ' is invalid');\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        1216
      ],
      "id": "4c27d041-c82f-47f3-9f41-dd58cee7afa3",
      "name": "CollectInvalidSymbol"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        960,
        160
      ],
      "id": "84a11e2d-49ca-4c56-8604-e9f271137d9f",
      "name": "LoopProcessValidSymbols"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "AddRateLimitWait1",
      "typeVersion": 1,
      "position": [
        784,
        -48
      ],
      "id": "2a187bc6-ad2a-446f-90ab-446c9dc0d99a"
    },
    {
      "parameters": {
        "url": "=https://api.twelvedata.com/symbol_search?symbol={{$item.json[\"symbol\"]}}&outputsize=1",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "03b82e9068bf43118f3b04858762bf49"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        176,
        688
      ],
      "id": "b139043d-d7f4-4f3b-aea5-e879fb2ce833",
      "name": "ValidateSymbolTwelveData",
      "credentials": {
        "httpQueryAuth": {
          "id": "srLxuSkG3qoi2f8B",
          "name": "Query Auth account"
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1584,
        304
      ],
      "id": "e5910da5-66eb-44eb-b588-ef9c47a209a1",
      "name": "MergeTimeSeriesData"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1872,
        320
      ],
      "id": "7ba9c8e8-d4dc-44e7-887e-f6627407e676",
      "name": "AggregateDataIntervals"
    },
    {
      "parameters": {
        "jsCode": "const root = items[0].json;\n\n//extract datasets\nconst data1m = root.data[0];\n//1min\nconst data15m = root.data[1];\n//15min\nconst data1h = root.data[2];\n//1h\n\n//standardize format\nfunction normalize(values) {\n  return values\n    .map(v => ({\n      time: new Date(v.datetime),\n      open: parseFloat(v.open),\n      high: parseFloat(v.high),\n      low: parseFloat(v.low),\n      close:parseFloat(v.close),\n      volume:parseFloat(v.volume),\n    }))\n    .sort((a, b) => a.time - b.time);\n}\n\nreturn [\n  {\n    json: {\n      ticker:data1m.meta.symbol,\n      candles1m:normalize(data1m.values),\n      candles15m:normalize(data15m.values),\n      candles1h:normalize(data1h.values),\n    }\n  }\n];\n  "
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2096,
        320
      ],
      "id": "f26c2700-627a-4c09-8597-21de6611042b",
      "name": "ComputeTechnicalIndicators"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a highly intelligent and accurate sentiment analyzer specializing in the financial markets. Analyze the sentiment of the provided text\n\n- Evaluate the immediate market reaction, recent news impact, and technical volatility.\n- Determine a sentiment category: \"Positive\", \"Neutral\", or \"Negative\".\n- Calculate a numerical score between -1 (extremely negative) and 1 (extremely positive).\n- Provide a concise rationale explaining the short-term sentiment (give a detailed response with appropriate headlines for major events).\n\nYour output must be exactly a JSON object. The value must be an object with three keys: \"category\", \"score\", and \"rationale\". Do not output any additional text.\n\nFor example, your output should look like:\n\n{\n   \"shortTermSentiment\": {\n      \"category\": \"Positive\", \n      \"score\":0.7, \n      \"Rationale\": \"....\"\n\nNow, analyze the following text and produce your JSON output: {{ JSON.stringify($json.articles) }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=You are a highly intelligent and accurate sentiment analyzer specializing in the financial markets. Analyze the sentiment of the provided text\n\n- Evaluate the immediate market reaction, recent news impact, and technical volatility.\n- Determine a sentiment category: \"Positive\", \"Neutral\", or \"Negative\".\n- Calculate a numerical score between -1 (extremely negative) and 1 (extremely positive).\n- Provide a concise rationale explaining the short-term sentiment (give a detailed response with appropriate headlines for major events).\n\nYour output must be exactly a JSON object. The value must be an object with three keys: \"category\", \"score\", and \"rationale\". Do not output any additional text.\n\nFor example, your output should look like:\n\n{\n   \"shortTermSentiment\": {\"category\": \"Positive\", \"score\":0.7, \"Rationale\": \"....\"\n\nNow, analyze the following text and produce your JSON output: {{ JSON.stringify($json.articles) }}"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        1520,
        928
      ],
      "id": "08af3dc7-d832-427c-8f21-eef0de6b403b",
      "name": "AnalyzeNewsSentimentChain"
    },
    {
      "parameters": {
        "model": "grok-3-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatXAiGrok",
      "typeVersion": 1,
      "position": [
        1600,
        1152
      ],
      "id": "554924eb-c979-4ddc-8539-49ca41e1fc3a",
      "name": "GrokSentimentModel",
      "credentials": {
        "xAiApi": {
          "id": "LnJS5l9C6NoeRvcL",
          "name": "xAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2320,
        736
      ],
      "id": "a380b1a7-36a3-4cf0-a087-328939433798",
      "name": "MergeSentimentResults"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2544,
        736
      ],
      "id": "1962b459-4565-4451-84c2-7baa28b136e2",
      "name": "AggregateSentimentScores"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an expert day trader. Using the data below, please give a single, unified trade recommendation -Buy, Sell, or Hold-based on both price action (1m, 15m, 1h candles) and 24h sentiment. Then provide:\n\n- Technical Recommendation (Buy, Sell, or Hold; Incorporating candle analysis and sentiment)\n- Entry Price\n- Stop-Loss\n- Target/Exit Price\n\nProvide your answer as plain text with bullet points and clear line breaks.\n\nTechnical Data (candles):\n{{ JSON.stringify($json.data[0]) }}\n\nSentiment Analysis (Past 24h):\n{{ JSON.stringify($json.data[1]) }}\n\nEach candle object has:\n- timeframe: \"1m\", \"15m\", or \"1h\"\n- candles: [openTime, open, high, low, close, volume, ...]\n\nSteps for the agent:\n1. Group candles by timeframe (1m, 15m, 1h).\n2. Use 1m & 15m action + indicators (RSI, MACD, Trendlines) for optimal entry.\n3. Confirm trend with 1h data.\n4. Factor in sentiment to refine the Buy/Sell/Hold call.\n\n### Response format (no extra text!):\n- Technical Recommendation: <BUY|SELL|HOLD>\n- Entry Price: <number>\n- Stop-Loss: <number>\n- Target/Exit Price: <number>",
        "options": {
          "systemMessage": "You are an expert day trader. ONLY output exactly the lines below-no rationale, no extra commentary.\n\n### Response format (absolutely no other text!)\n- Technical Recommendation: <BUY|SELL|HOLD>\n- Entry Price: <number or N/A>\n- Stop-Loss: <number or N/A>\n- Target/Exit: <number or N/A>\n- Hold or Exit Decision: <Hold|Exit>"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        2768,
        736
      ],
      "id": "aaae121d-601b-4cba-8a99-9e96657d7e3d",
      "name": "GenerateTradeRecommendationAgent"
    },
    {
      "parameters": {
        "model": "grok-4-fast-reasoning",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatXAiGrok",
      "typeVersion": 1,
      "position": [
        2848,
        960
      ],
      "id": "1911db9c-dce1-4ce1-9dbf-e2c0f0c79069",
      "name": "GrokRecommendationModel",
      "credentials": {
        "xAiApi": {
          "id": "LnJS5l9C6NoeRvcL",
          "name": "xAi account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('TelegramInputTrigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3120,
        736
      ],
      "id": "fbac985f-c858-4956-b418-a83ae4240650",
      "name": "SendTradeRecommendation",
      "webhookId": "3a473a39-4dab-4d1a-bc56-9da99d0fdd63",
      "credentials": {
        "telegramApi": {
          "id": "SEtfhHTHn4V1lCk0",
          "name": "DayTraderBotCredential"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        1296,
        1424
      ],
      "id": "cf6de127-2578-4504-8e0d-60869941ec37",
      "name": "HandleIncomingChatMessage",
      "webhookId": "c7edf6a6-a06a-4b0f-b2e7-b5edc108f3e2"
    }
  ],
  "pinData": {},
  "connections": {
    "TelegramInputTrigger": {
      "main": [
        [
          {
            "node": "NormalizeInputText",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NormalizeInputText": {
      "main": [
        [
          {
            "node": "ParseSymbolsToArray",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ParseSymbolsToArray": {
      "main": [
        [
          {
            "node": "LoopValidateSymbols",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LoopValidateSymbols": {
      "main": [
        [
          {
            "node": "CheckSymbolRegex",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AddRateLimitWait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CheckSymbolRegex": {
      "main": [
        [
          {
            "node": "ValidateSymbolTwelveData",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "CollectInvalidSymbol",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CheckSymbolAPIResult": {
      "main": [
        [
          {
            "node": "MergeValidationResults",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "CollectInvalidSymbol",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AddRateLimitWait": {
      "main": [
        [
          {
            "node": "LoopValidateSymbols",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MergeValidationResults": {
      "main": [
        [
          {
            "node": "FormatValidSymbols",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CheckForErrors": {
      "main": [
        [
          {
            "node": "SendErrorMessage",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "FetchNewsArticles",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch1HourTimeSeries",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch15MinTimeSeries",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch1MinTimeSeries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SendErrorMessage": {
      "main": [
        [
          {
            "node": "MergeValidationResults",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "FormatValidSymbols": {
      "main": [
        [
          {
            "node": "CheckForErrors",
            "type": "main",
            "index": 0
          },
          {
            "node": "LoopProcessValidSymbols",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch1MinTimeSeries": {
      "main": [
        [
          {
            "node": "MergeTimeSeriesData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch15MinTimeSeries": {
      "main": [
        [
          {
            "node": "MergeTimeSeriesData",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Fetch1HourTimeSeries": {
      "main": [
        [
          {
            "node": "MergeTimeSeriesData",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "FetchNewsArticles": {
      "main": [
        [
          {
            "node": "AnalyzeNewsSentimentChain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CollectInvalidSymbol": {
      "main": [
        [
          {
            "node": "SendErrorMessage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LoopProcessValidSymbols": {
      "main": [
        [
          {
            "node": "Fetch1MinTimeSeries",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch15MinTimeSeries",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch1HourTimeSeries",
            "type": "main",
            "index": 0
          },
          {
            "node": "FetchNewsArticles",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AddRateLimitWait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AddRateLimitWait1": {
      "main": [
        [
          {
            "node": "LoopProcessValidSymbols",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ValidateSymbolTwelveData": {
      "main": [
        [
          {
            "node": "CheckSymbolAPIResult",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MergeTimeSeriesData": {
      "main": [
        [
          {
            "node": "AggregateDataIntervals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AggregateDataIntervals": {
      "main": [
        [
          {
            "node": "ComputeTechnicalIndicators",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ComputeTechnicalIndicators": {
      "main": [
        [
          {
            "node": "MergeSentimentResults",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AnalyzeNewsSentimentChain": {
      "main": [
        [
          {
            "node": "MergeSentimentResults",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "GrokSentimentModel": {
      "ai_languageModel": [
        [
          {
            "node": "AnalyzeNewsSentimentChain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "MergeSentimentResults": {
      "main": [
        [
          {
            "node": "AggregateSentimentScores",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AggregateSentimentScores": {
      "main": [
        [
          {
            "node": "GenerateTradeRecommendationAgent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GenerateTradeRecommendationAgent": {
      "main": [
        [
          {
            "node": "SendTradeRecommendation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GrokRecommendationModel": {
      "ai_languageModel": [
        [
          {
            "node": "GenerateTradeRecommendationAgent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "HandleIncomingChatMessage": {
      "main": [
        [
          {
            "node": "AnalyzeNewsSentimentChain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "d25bd15f-8e9f-439d-8cec-55686b0b3393",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e528253e88e4586541d2eb06c1ec5fdac21c84cfb5afc416ee840c43e0960980"
  },
  "id": "Gf8fWK0ca-4ij5vzKbo2_",
  "tags": []
}
